/* Палитра основных цветов лендинга
#757575; #2196F3; #212121; #FFFFFF; color: rgba(255, 255, 255, 0.6); color: rgba(255, 255, 255, 0.4);
#AFB1B8; #F5F4FA; #FFFFFF; #E5E5E5; #F5F4FA; #2F303A;*/

:root {
--main-accent: #2196F3;
--primary-page-text: #757575;
--secondary-page-text: #212121;
--logo-part-text: #000000;
--page-hero-text: #FFFFFF;
--footer-contacts: rgba(255, 255, 255, 0.6);
--copyright: rgba(255, 255, 255, 0.4);
--link-icons: #AFB1B8;
--adv-icons-bg: #F5F4FA;
--header-bg: #FFFFFF;
--work-content-bg: #E5E5E5;
--team-section-bg: #F5F4FA;
--footer-bg: #2F303A;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    background-color: var(--header-bg);
}

.studio-logo {
    color: var(--main-accent);
}

.logo {
    color: var(--logo-part-text);
}

.nav-bar > .link {
    color: var(--secondary-page-text);
}

.link:hover,
.link:focus {
    color: var(--main-accent);
}

.studio-contacts {
    color: var(--primary-page-text);
}

.studio-contacts:hover,
.studio-contacts:focus {
    color: var(--main-accent);
}


