:root {
    --main-accent: #2196F3;
    --primary-page-text: #757575;
    --secondary-page-text: #212121;
    --logo-part-text: #000000;
    --page-hero-text: #FFFFFF;
    --footer-contacts: rgba(255, 255, 255, 0.6);
    --copyright: rgba(255, 255, 255, 0.4);
    --link-icons: #AFB1B8;
    --adv-icons-bg: #F5F4FA;
    --header-bg: #FFFFFF;
    --work-content-bg: #E5E5E5;
    --team-section-bg: #F5F4FA;
    --footer-bg: #2F303A;
}

.banner {
    color: var(--page-hero-text);
    /* цвет фона не из макета добавлен для контраста */
    background-color: teal;
}

.button {
    color: var(--page-hero-text);
    background-color: var(--main-accent);
}